*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
:root{
    --sweetcolor: #f16767;
}
.container{
    min-height: 100vh;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    padding: 0px 5%;
}
.navbar{
    display: flex;
    width: 100%;
    align-items: center;
    margin: 8px 0;
    
}
.logo{
    width: 50px;
    margin: 10px 20px;
    cursor: pointer;
}
.menuicon{
    width: 30px;
    cursor: pointer;
    display: none;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin: 0 70px 0 0;
}
nav ul li a{
    text-decoration: none;
    font-size: 1.05rem;
    color: #000;
    position: relative;
    font-family: sans-serif;
    transition: color 200ms ease-out;

}

/* ======== navbar animation ============ */

nav ul li a::after{
    content: "";
    height: 3px;
    width: 0%;
    background-color: var(--sweetcolor);
    position: absolute;
    bottom: -5px;
    left: 0px;
    transition: all 300ms ease-out;
}
nav ul li a:hover{
    color: var(--sweetcolor);
}
nav ul li a:hover::after{
    width: 100%;
}

/* ======== Main content ============ */

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 70px 80px;
}
.col1{
    flex-basis: 40%;
    position: relative;
}
.col1 h2{
    font-size: 50px;
}
.col1 h3{
    font-size: 25px;
    color: #707070;
    font-weight: 100;
    margin: 20px 0 10px;
}
.col1 p{
    color: #b7b7b7;
    font-weight: 100;
}
.col1 p{
    font-size: 20px;
    margin: 15px 0;
}
span{
    content: "";
    height: 55%;
    width: 10px;
    background: linear-gradient(#ff469f,#ff6062);
    position: absolute;
    left: -40px;
    top: 0;
}

/* ======Button design========= */
.btn{
    display: flex;
    height: 40px;
    width: 100px;
    color: white;
    margin: 20px 3px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
    
}
.btn2{
    background: linear-gradient(to right,#707070,#4b4747);
    box-shadow: 0px 0px 0px var(--sweetcolor);
    transition: all 300ms ease-out;
    border-radius: 5px;
}
.btn2:hover{
    box-shadow: 8px 8px 2px var(--sweetcolor);
    

}
.col2{
    position: relative;
    display: flex;
    flex-basis: 60%;
    align-items: center;
    right: 0px;
}

.controller{
    width: 90%;
}
.color-box{
    left: 127px;
    top: 0px;
    height: 100%;
    width: 80%;
    background: linear-gradient(#ff469f,#ff6062);
    z-index: -1;
    position: absolute;
    transform: translateX(150px);
    border-radius: 20px 0 0 20px;
}
.addbutton img{
    width: 35px;
    margin-bottom: 7px;
}
.addbutton p {
    text-transform: capitalize;
    text-align: center;
    color: #fff;
}
.addbutton p small{
    font-family: sans-serif;

}
.addbutton{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75px;
    cursor: pointer;
  }

  .social-icons img{
    height: 20px;
    margin: 10px 20px;
    cursor: pointer;
  }
  .social-icons{
    display: flex;
    justify-content: center;
    
}
.social-icon{
    width: 400px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    background: linear-gradient(to right,#ff469f60,#ff606360);
    margin: 15px 0px;
  }
  footer{
    background-color: #ff606260;
    width: 100%;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 10px;

  }



  /* Mobile version */

  @media  screen and (max-width:700px) {
    nav ul{
        width: 100%;
        background: #4b4747;
        position: absolute;
        top: 75px;
        left: 0;
        z-index: 2;
        transition: all 500ms ease-out;
        overflow: hidden;
    }
    nav ul li{
        display: block;
        margin: 20px 10px;
        display: flex;
        justify-content: center;
    }
    nav ul li a{
        color: #fff;

    }
    .menuicon{
        display: block;
    }
    .row{
        flex-direction: column-reverse;
        margin-bottom: 30px;
    }
    .controller{
        width: 250px;
        flex-basis: 100%;
    }
    .color-box{
        transform: translateX(5px);
        flex-basis: 100%;
    }
    .col2{
        margin-bottom: 40px;
    }
    .col1{
        flex-basis: 100%;
        position: relative;
        left: -36px;
    }
    .col1 h2{
        font-size: 30px;
    }
    .col1 h3{
        font-size: 20px;
    }
    .col1 p{
        font-size: 15px;
    }
  }